<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Login" value="Server=localhost;Port=5432;Database=SurveryProductCheckDatabase;uid=postgres;password=123456;" />
    <add key="SystemName" value="测绘成果质量检查与验收系统" />
    <add key="SystemImage" value="back.png" />
    <add key="ExitImage" value="close.png" />
    <add key="LoginImage" value="Login.png" />
    <add key="GroupTopMargin" value="20" />
    <add key="GroupBottomMargin" value="20" />
    <add key="GroupLRMargin" value="20" />
    <add key="GroupUPMargin" value="10" />
    <add key="LRMargin" value="4" />
    <add key="UPMargin" value="2" />
    <add key="Height" value="24" />
    <add key="ButtonUseImage" value="false" />
    <add key="MenuUseImage" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>